.outer {
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: cornsilk; */
}

.round {
  border-radius: 50%;
}
