/* Style Sheet:
Primary 1: #260101
Primary 2: #C68D7A
Secondary 1: #5C9EB7
Secondary 2: #273034
Accent: #34E4E4 (For Hyperlinks)

My primary colours are inspired by the asethetic of dark academia. Light & dark academia both have a 
central theme of romanticising academic life & promoting a love of learning. So for me when I read the
context of 'Music for Study', I think of a dark academia aesthetic. 
“[This] subculture draws on idea[s]…of…[a]ctivities such as calligraphy, museum visits, libraries, coffee shops, 
and all-night studying sessions.” ~ (Wikipedia Contributors 2024)

My secondary colours are blue because I often associate the colour blue, with the concept of productivity
and being in that study flow state.
*/

body {
  background-color: #c68d7a;
  margin: 0;
}

/*.plink:hover {} This is the styling for the potential links in my paragraph.*/

p {
  font-family: "Roboto Condensed", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #260101;
  color: #260101;
}

h1 {
  font-family: "Noto Sans Display", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  color: #260101;
}

h2 {
  font-family: "Besley", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: -7px;
  color: #260101;
}

nav {
  text-align: center;
  background-color: #260101;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
}

nav ul li {
  margin-right: -15px;
  color: #c68d7a;
  padding: 10px 11px;
  font-family: "Roboto Condensed", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

nav ul li a:not(.plink):hover {
  background-color: #5c9eb7;
  color: #273034;
  padding: 10px 11px;

  font-family: "Roboto Condensed", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 11px;
}

footer > p {
  color: #c68d7a;
}

footer {
  margin-top: 5px;
  background-color: #260101;
  color: #c68d7a;
  text-align: center;
  padding: 10px 0;
  width: 100%;

  font-family: "Roboto Condensed", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*"Used object-fit: cover;" here because I did not want the different "#CurrentSongImg" covers' images to wrap when selected
for display.*/
#CurrentSongImg {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.TrackInfo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}

.audio-name {
  display: flex;
  margin-right: 20px;
  align-items: flex-end;
}

.Current {
  margin-right: 270px;
}

* button {
  background-color: #dfac99;
  border-radius: 3px;
  border-color: #260101;
  border-width: 1.5px;
}

.outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border-radius: 5px; */
  /* flex-wrap: wrap; */
}

.audio-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 7.5px;
}

.main-elements {
  display: flex;
  flex-direction: row;
  gap: 7.5px;
}

.audio-timeline {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /* align-items: center; */
}

.PlaybackCons {
  margin-right: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 5px;
}

.SkipCons {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 5px;
}

.audio-buttons {
  display: flex;
  flex-direction: row;
}

.progress-bar {
  width: 100%;
  height: 10px;
  border: 1.5px solid #260101;
  margin-top: 10px;
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #5c9eb7;
  border-radius: 1px;
  width: 0;
  transition: width 0.3s ease;
}

.SongSel1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5px;
  gap: 5px;
}

.SongSel2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5px;
  gap: 5px;
}

#FirstAudioBtn,
#SecondAudioBtn,
#ThirdAudioBtn,
#FourthAudioBtn {
  border: 1.5px solid #260101;
}
