body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.GameInt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin: 15px;
}

.arcade {
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
}

/*Below here is the CSS formatting for the controls & High score.*/
.game-controls {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 200px;
  align-items: center;
  width: 200px;
  border-radius: 5px;
}

.controllers {
  margin: 20px;
}

.UpDown {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.UpDown > button {
  flex-direction: column;
  align-self: center;
}

.right-left {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.score {
  margin: 10px;
}

.controllers > button {
  margin: 4px;
  padding: 5px;
}

/*Below this line is going to be the formatting for the maze.*/
.maze-container {
  border: 1px solid rgb(0, 255, 42);
  width: 500px;
  height: 392px;
  border-radius: 5px;
  position: relative;
  background-image: url("/assignments/a3/sprites/pokemon-grass.png");
  object-fit: cover;
}

.StartText > p {
  margin: 7px;
}

.StartText {
  position: absolute;
  top: 360px;
  left: 0px;
}

#EndText {
  margin: 7px;
  position: absolute;
  top: 10px;
  left: 435px;
  z-index: 10;
}

.ball {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 100px;

  position: absolute;
  top: 325px;
  left: 12px;

  transition: transform 0.3s ease-out;
}

.wall {
  background-color: rgb(28, 19, 1);
}

#wall1 {
  position: absolute;
  top: 291px;
  left: 60px;

  width: 10px;
  height: 100px;
}

#wall2 {
  position: absolute;
  width: 60px;
  height: 54px;

  top: 181px;
  left: 0px;
}

#wall3 {
  position: absolute;
  width: 65px;
  height: 15px;

  top: 220px;
  left: 60px;
}

#wall4 {
  position: absolute;
  width: 50px;
  height: 199px;

  top: 146px;
  left: 125px;
}

#wall5 {
  position: absolute;
  width: 15px;
  height: 290px;

  top: 101px;
  left: 265px;
}

#wall6 {
  position: absolute;
  width: 115px;
  height: 35px;

  top: 66px;
  left: 165px;
}

#wall7 {
  position: absolute;
  width: 75px;
  height: 20px;

  top: 0px;
  left: 320px;
}

#wall8 {
  position: absolute;
  width: 15px;
  height: 292px;

  top: 20px;
  left: 380px;
}

#wall9 {
  position: absolute;
  width: 25px;
  height: 310px;

  top: 0px;
  left: 474px;
}

#wall10 {
  position: absolute;
  width: 60px;
  height: 30px;

  top: 360px;
  left: 438px;
}

/*Below is my obstacles.*/
.obs {
  background-color: red;
}

#obs1 {
  position: absolute;
  width: 46px;
  height: 20px;

  top: 325px;
  left: 175px;
}

#obs2 {
  position: absolute;
  width: 35px;
  height: 25px;

  top: 251px;
  left: 230px;
}

#obs3 {
  position: absolute;
  width: 46px;
  height: 20px;

  top: 185px;
  left: 175px;
}

#obs4 {
  position: absolute;
  width: 37px;
  height: 39px;

  top: 101px;
  left: 228px;
}

#obs5 {
  position: absolute;
  width: 25px;
  height: 90px;

  top: 45px;
  left: 75px;
}

#obs6 {
  position: absolute;
  width: 46px;
  height: 20px;

  top: 78px;
  left: 280px;
}

#obs7 {
  position: absolute;
  width: 60px;
  height: 25px;

  top: 146px;
  left: 320px;
}

#obs8 {
  position: absolute;
  width: 46px;
  height: 20px;

  top: 217px;
  left: 280px;
}

#obs9 {
  position: absolute;
  width: 60px;
  height: 25px;

  top: 287px;
  left: 320px;
}

#obs10 {
  position: absolute;
  width: 46px;
  height: 20px;

  top: 371px;
  left: 280px;
}

#obs11 {
  position: absolute;
  width: 36px;
  height: 20px;

  top: 267px;
  left: 395px;
}

#obs12 {
  position: absolute;
  width: 41px;
  height: 20px;

  top: 199px;
  left: 433px;
}

#obs13 {
  position: absolute;
  width: 36px;
  height: 20px;

  top: 128px;
  left: 395px;
}

#obs14 {
  position: absolute;
  width: 41px;
  height: 37px;

  top: 43px;
  left: 433px;
}

.collect > img {
  margin: 5px;
}

#c1 {
  position: absolute;
  top: 300px;
  left: 80px;
}

#c2 {
  position: absolute;
  top: 175px;
  left: 70px;
}

#c3 {
  position: absolute;
  top: 245px;
  left: 180px;
}

#c4 {
  position: absolute;
  top: 70px;
  left: 18px;
}

#c5 {
  position: absolute;
  top: 20px;
  left: 200px;
}

#c6 {
  position: absolute;
  top: 100px;
  left: 333px;
}

#c7 {
  position: absolute;
  top: 175px;
  left: 333px;
}

#c8 {
  position: absolute;
  top: 280px;
  left: 280px;
}

#c9 {
  position: absolute;
  top: 355px;
  left: 330px;
}

#c10 {
  position: absolute;
  top: 315px;
  left: 463px;
}

#c11 {
  position: absolute;
  top: 200px;
  left: 394px;
}

#c12 {
  position: absolute;
  top: 120px;
  left: 433px;
}

#c14 {
  position: absolute;
  top: 43px;
  left: 394px;
}

/*Win Pop-up Menu:*/
.PopupMenu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  z-index: 1000;
  cursor: pointer;
}

/*.show {
  display: block;
}*/
