body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.GameInt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin: 15px;
}

.arcade {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px;
}

/*Below here is the CSS formatting for the controls & High score.*/
.game-controls {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 200px;
  align-items: center;
  width: 200px;
  border-radius: 5px;
}

.controllers {
  margin: 20px;
}

.UpDown {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.UpDown > button {
  flex-direction: column;
  align-self: center;
}

.right-left {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.score {
  margin: 10px;
}

.controllers > button {
  margin: 4px;
  padding: 5px;
}

/*Below this line is going to be the formatting for the maze.*/
.maze-container {
  border: 1px solid rgb(0, 255, 42);
  min-width: 500px;
  min-height: 392px;
  border-radius: 5px;
}

.ball {
  width: 35px;
  height: 35px;
  background-color: rgb(245, 241, 9);
  border-radius: 100px;

  position: absolute;
  top: 370px;
  left: 90px;

  transition: transform 0.3s ease-out;
}

.wall1,
.wall2,
.wall3,
.wall4,
.wall5,
.wall6,
.wall7,
.wall8,
.wall9,
.wall10,
.wall11,
.wall12,
.wall13,
.wall14,
.wall15 {
  background-color: rgb(53, 34, 5);
  position: absolute;
}

.wall1 {
  top: 290px;
  left: 160px;

  width: 10px;
  height: 122px;
}

.wall2 {
  width: 90px;
  height: 60px;

  top: 190px;
  left: 80px;
}

.wall3 {
  width: 90px;
  height: 15px;

  top: 235px;
  left: 170px;
  background-color: brown;
}

.wall4 {
  width: 50px;
  height: 215px;

  top: 150px;
  left: 260px;
  background-color: royalblue;
}
