body {
  background-color: #f9dadf;
}

h1 {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  color: rgb(31, 31, 31);
  margin: 5px;
}

p {
  margin-left: 10px;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}
