/* This colour palette was initally inspired by the blue and green colour palette of the brooomstick.com website. The broomstick website
had this sort of "pixel art/vintage" art background, so in a similar vein I wanted to create a somewhat vintage-looking website.

A link will be provided on the website to my Style sheet of all the fonts & colours that I want to use
Listed Below are my colour palette:
--text: #252526;
--background: #CCC5B4;
--primary: #2E506E;
--secondary: #4C5748;
--accent: #7CC9BC;*/

/* For my CSS styling of Assignment 1, I have decided to go for a newspaper styling as both to make use of the flexbox/gridbox skills
that were taught to us in class. And also because the https://brooomstick.com/ website reminded me of an acutal magazine,
so I decided to go for a similar physical media feel assignment 1. */

body {
  background-color: #ccc5b4;
  margin: 0; /* Should remove the margin around the header.*/
}

* {
  color: #342d2d;
}

#grid-container {
  margin: 0;
  width: 100;
  height: 165px;
  padding: 10px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*Gives two column "table" layout, +1fr to add more colmuns to the "table."*/
  grid-template-rows: 1fr 1fr; /*Same but for rows.*/
}

#box1 {
  background-color: #ccc5b4;
  border: 2px solid #252526;
}
#box2 {
  background-color: #ccc5b4;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#box2-inside {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  margin-top: -4rem;
}

#box3 {
  background-color: aquamarine;
}
#box4 {
  background-color: #ccc5b4;
  grid-column: 1/5;
  grid-row: 2/3;
  height: 38px;
}

.outer {
  border-top: 2px solid #252526;
  border-bottom: 2px solid #252526;
  width: 100;
  height: 35px;
  display: flex;

  /*justify-content: flex-end*/
  /*justify-content: center;*/
  justify-content: center;

  align-items: center;
  /*align-items: ;*/

  gap: 50px;
}

.links {
  text-decoration: none;

  font-family: "EB Garamond", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.links:hover {
  font-family: "EB Garamond", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.limebox {
  background-color: limegreen;
  padding: 10px;
  flex: 1;
}

.coralbox {
  background-color: #ccc5b4;
  padding: 10px;
  flex: 1;
}

.plumbox {
  background-color: #ccc5b4;
  padding: 10px;
}

h1 {
  font-family: "UnifrakturMaguntia", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 61.04px;
}

h2 {
  font-family: "Pathway Gothic One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 31.25px;
  margin-bottom: -15px;
  margin-top: -5px;
  line-height: 30px;
}

h3 {
  font-family: "Spectral", system-ui;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: -7px;
}

p {
  font-family: "EB Garamond", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12.8px;
  text-align: justify;

  /*margin-left: 5px;
  margin-right: 5px;*/
}

ol {
  font-family: "EB Garamond", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12.8px;

  margin-top: -10px;
  margin-bottom: -10px;
}

ul {
  font-family: "EB Garamond", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12.8px;

  margin-top: -10px;
  margin-bottom: -10px;
}

li {
  font-family: "EB Garamond", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12.8px;
}

b {
  font-family: "EB Garamond", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 12.8px;
  text-align: justify;
}

i {
  font-family: "EB Garamond", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-size: 12.8px;
  text-align: justify;
}

#grid-container-body {
  margin: 10px;
  column-gap: 10rem;
  width: 100;
  min-height: 500px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*Gives two column "table" layout, +1fr to add more colmuns to the "table."*/
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /*Same but for rows.*/
}

#box6 {
  background: #f8ae00;
  border: 2px solid #252526;
  grid-row: 1/12;
  grid-column: 2/4;
}

/*.photo {
  position: relative;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;

  /*padding: 0px;
  margin: 0px;
}*/

#box7 {
  /*border: 2px solid #252526;*/
  grid-row: 12/23;
  grid-column: 2/3;
}

#box8 {
  /*border: 2px solid #252526;*/
  grid-row: 12/23;
  grid-column: 3/4;
}

#box9 {
  /*border: 2px solid #252526;*/
  grid-row: 1/23;
  grid-column: 1/2;
}

#box10 {
  /*border: 2px solid #252526;*/
  grid-row: 1/23;
  grid-column: 4/5;
}

#box11 {
  background-color: #d8ea0e;
  border: 2px solid #252526;
  grid-row: 23/35;
  grid-column: 1/2;
}

/*.photo-2 {
  position: relative;
  overflow: hidden;
}

.photo-2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;

  /*padding: 0px;
  margin: 0px;
}*/

#box12 {
  /*border: 2px solid #252526;*/
  grid-row: 23/35;
  grid-column: 2/3;
}

#box13 {
  /*border: 2px solid #252526;*/
  grid-row: 23/35;
  grid-column: 3/4;
}

#box14 {
  /*border: 2px solid #252526;*/
  grid-row: 23/35;
  grid-column: 4/5;
}

.footer {
  border-top: 2px solid #252526;
  margin: 10px;
  width: 100;
  height: 60px;
  display: flex;

  /*justify-content: flex-end*/
  justify-content: center;
  /*justify-content: space-between;*/

  align-items: center;
  /*align-items: ;*/

  gap: 10px;
}

.back-to-top {
  display: flex;
  padding: 10px;
}

.ftext {
  text-decoration: none;

  font-family: "EB Garamond", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ftext:hover {
  font-family: "EB Garamond", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
