/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
}

.outer {
  border: 2px dashed #e5e5cb;
  width: 600px;
  min-height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.outer > * {
  padding: 5px;
}

input {
  padding-bottom: 20px;
}

.grade {
  font-size: 1.4rem;
  color: coral;
}

.fgrade {
  font-size: 1.4rem;
  color: crimson;
}
