/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.navigation {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.navigation img {
  width: 70px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  scale: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

main {
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
  margin: auto;
  justify-content: space-between;
}

.slides {
  border: 2px dashed #e5e5cb7a;
  width: 100vw;
  font-size: 4rem;
  height: 100vh;
  /*vh stands for viewport height.*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
