/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
  gap: 1.5rem;
}

.outer {
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 1;
  /* background-color: cornsilk; */
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}

button {
  padding: 20px 10px;
  border-radius: 12px;
  cursor: pointer;
  color: #e5e5cb;
  background-color: transparent;
  border: 2px solid cornsilk;
}

button:hover {
  /* background-color: coral; */
  /* transition: background-color 0.5s ease;  */
  border-color: coral;

  transition: border-color 0.5s ease;
}

.ball {
  min-width: 70px;
  min-height: 10px;
  /* border-radius: 50%; */
  background-color: purple;
  border-radius: 100px;
  transition: transform 0.7s ease-out;
  /* transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); */
  /* transition: translate 0.8s ease-out rotate 0.8s ease scale 0.8s ease; */
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.moveright {
  translate: 50px 0px;
}
