body {
  background-color: #ffd6d8;
  margin: 0; /* Should remove the margin around the header.*/
}

* {
  color: #342d2d;
}

article {
  padding-top: 40px;
}

.footer {
  padding-bottom: 50px;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #342d2d;
  color: white;
  text-align: center;
}

.ftext {
  font-family: "Gupter", serif;
  font-weight: 500;
  font-style: normal;

  color: #ffd6d8;
  position: fixed;
  bottom: 5px;
  right: 0px;
  left: 0px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.ftext:hover {
  display: block;
  padding: 14px 15px;
  font-family: "Gupter", serif;
  font-weight: 700;
  font-style: italic;

  color: #9069dd;
  position: fixed;
  bottom: 5px;
  right: 0px;
  left: 0px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.show {
  display: block;
}

h1 {
  font-family: "Gupter", serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Tangerine", cursive;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

b {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

i {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.header {
  font-family: "Gupter", serif;
  font-weight: 500;
  font-style: normal;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #342d2d;
  position: fixed; /*Makes sure that the header is sticky.*/
  top: 0;
  width: 100%; /*Makes sure that the header spans the full width of the screem.*/
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffd6d8;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #d2a89d;
  color: #342d2d;
}

.active {
  background-color: #d2a89d;
}

ul:not(.header) li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  float: none; /* Remove floating for the list items outside the navigation bar */
  padding: 0px 0; /* Add padding to create space around the text */
  margin: 0 0 10px 0; /* Add some bottom margin to create space between items */
  width: auto; /* Allow the width to be determined by content */
  clear: both; /* Ensure each list item starts on a new line */
  box-sizing: border-box; /* Ensures padding is included in the element's width */
}
ol:not(.header) li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  float: none; /* Remove floating for the list items outside the navigation bar */
  padding: 0px 0; /* Add padding to create space around the text */
  margin: 0 0 10px 0; /* Add some bottom margin to create space between items */
  width: auto; /* Allow the width to be determined by content */
  clear: both; /* Ensure each list item starts on a new line */
  box-sizing: border-box; /* Ensures padding is included in the element's width */
}
