ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #342d2d;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffd6d8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d2a89d;
  color: #342d2d;
}
